{% load static %}
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'img/Appendlogo.jpg' %}" alt="">
        <h1 class="sitename">Append Solution</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'home' %}" class="">Home</a></li>
          <li><a href="{% url 'about_us' %}">About</a></li>
          {% comment %} <li><a href="{% url 'services_detail' %}">Services</a></li> {% endcomment %}
          {% comment %} <li><a href="{% url 'portfolio_detail' %}">Portfolio</a></li> {% endcomment %}
          <li><a href="{% url 'blog_list' %}">Blog</a></li>
          <li><a href="{% url 'contact_us' %}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="{% url 'contact_us' %}">Get Started</a>

    </div>
  </header>