{% extends 'web/base/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
{% include 'web/base/header.html'%}

<body class="index-page">


  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">
      
      <img src='{{banner.image.url}}' alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <h2 data-aos="fade-up" data-aos-delay="100">{{banner.title}}</h2>
            <p data-aos="fade-up" data-aos-delay="200">{{banner.content}}</p>
          </div>
          {% comment %} <div class="col-lg-5">
            <form action="#" class="sign-up-form d-flex" data-aos="fade-up" data-aos-delay="300">
              <input type="text" class="form-control" placeholder="Enter email address">
              <input type="submit" class="btn btn-primary" value="Sign up">
            </form>
          </div> {% endcomment %}
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- Clients Section -->
    {% if clients %}
    <section id="clients" class="clients section">

      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          {% for i in clients %}
          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src='{{i.image.url}}' class="img-fluid" alt="">
          </div><!-- End Client Item -->
          {% endfor %}
          {% comment %} <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src='{% static "img/clients/client-2.png" %}' class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src='{% static "img/clients/client-3.png" %}' class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src='{% static "img/clients/client-4.png" %}' class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src='{% static "img/clients/client-5.png" %}' class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src='{% static "img/clients/client-6.png" %}' class="img-fluid" alt="">
          </div><!-- End Client Item --> {% endcomment %}

        </div>

      </div>

    </section><!-- /Clients Section -->
    {% endif %}

    <!-- About Section -->
    {% if about %}
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <div class="col-xl-5 content">
            <h3>About Us</h3>
            <h2>{{about1.title}}</h2>
            <p>{{about1.content|safe|truncatechars:30}}</p><a href="{% url 'about_us' %}">
            <a href="{% url 'about_us' %}" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a></a>
          </div>

          <div class="col-xl-7">
            <div class="row gy-4 icon-boxes">
              {% for i in about %}

              {% if i.id != 1 %}
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                {% if i.id == 2 %}
                  <i class="bi bi-buildings"></i>
                {% elif i.id == 3 %}
                  <i class="bi bi-clipboard-pulse"></i>
                {% elif i.id == 4 %}
                  <i class="bi bi-command"></i>
                {% else %}
                  <i class="bi bi-graph-up-arrow"></i>
                {% endif %}
                  <h3>{{i.title}}</h3>
                  <p>{{i.content|safe}}</p>
                </div>
              </div> <!-- End Icon Box -->
              {% endif %}
              {% endfor %}
            </div>
          </div>

        </div>
      </div>

    </section><!-- /About Section -->
    {% endif %}
    <!-- Stats Section -->
    {% if company_status %}
    <section id="stats" class="stats section">

      <img src='{% static "img/stats-bg.jpg" %}' alt="" data-aos="fade-in">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="{{company_status.clients}}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Clients</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="{{company_status.projects}}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="{{company_status.hours_Of_Support}}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="{{company_status.workers}}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Workers</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->
    {% endif %}
    <!-- Services Section -->
    {% if services %}
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>{{heading.services}}</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          {% for i in services %}
          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="100">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0">
              {% if i.id == 1 %}
              <i class="bi bi-briefcase">
              {% elif i.id == 2 %}
              <i class="bi bi-card-checklist">
              {% elif i.id == 3 %}
              <i class="bi bi-bar-chart">
              {% elif i.id == 4 %}
              <i class="bi bi-binoculars">
              {% else %}
              <i class="bi bi-brightness-high">
              {% endif %}
              </i></div>
              <div>
                <h4 class="title"><a class="stretched-link">{{i.title}}</a></h4>
                <p class="description">{{i.content}}</p>
              </div>
            </div>
          </div>
          <!-- End Service Item -->
          {% endfor %}
        </div>

      </div>

    </section><!-- /Services Section -->
    {% endif %}
    <!-- Features Section -->
    {% comment %} <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Features</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4 align-items-center features-item">
          <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h3>Corporis temporibus maiores provident</h3>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
            </p>
            <a href="#" class="btn btn-get-started">Get Started</a>
          </div>
          <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <div class="image-stack">
              <img src='{% static "img/features-light-1.jpg" %}' alt="" class="stack-front">
              <img src='{% static "img/features-light-2.jpg" %}' alt="" class="stack-back">
            </div>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-stretch justify-content-between features-item ">
          <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
            <img src='{% static "img/features-light-3.jpg" %}' class="img-fluid" alt="">
          </div>
          <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
            <h3>Sunt consequatur ad ut est nulla</h3>
            <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
            <ul>
              <li><i class="bi bi-check"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
              <li><i class="bi bi-check"></i><span> Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
              <li><i class="bi bi-check"></i> <span>Facilis ut et voluptatem aperiam. Autem soluta ad fugiat</span>.</li>
            </ul>
            <a href="#" class="btn btn-get-started align-self-start">Get Started</a>
          </div>
        </div><!-- Features Item -->

      </div>

    </section><!-- /Features Section --> {% endcomment %}

    <!-- Portfolio Section -->
    {% if portfolio %}
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>{{heading.portfolio}}</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-product">Card</li>
            <li data-filter=".filter-branding">Web</li>
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
            {% for i in portfolio %}
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item {{i.type}}">
              <img src='{{i.image.url}}' class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{i.title}}</h4>
                <p>{{i.content}}</p>
                <a href="{{i.image.url}}" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a target="_blank" href="{{i.url}}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
            {% endfor %}
          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->
    {% endif %}
    <!-- Pricing Section -->
    {% comment %} <section id="pricing" class="pricing section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Pricing</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="zoom-in" data-aos-delay="100">

        <div class="row g-4">

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Free Plan</h3>
              <div class="icon">
                <i class="bi bi-box"></i>
              </div>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
                <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>
                <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Pharetra massa massa ultricies</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4">
            <div class="pricing-item featured">
              <h3>Business Plan</h3>
              <div class="icon">
                <i class="bi bi-rocket"></i>
              </div>

              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
                <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>
                <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>
                <li><i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span></li>
                <li><i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span></li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Developer Plan</h3>
              <div class="icon">
                <i class="bi bi-send"></i>
              </div>
              <h4><sup>$</sup>49<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
                <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>
                <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>
                <li><i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span></li>
                <li><i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span></li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>

    </section><!-- /Pricing Section --> {% endcomment %}

    <!-- Faq Section -->
    {% if faq %}
    <section id="faq" class="faq section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="content px-xl-5">
              <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
              <p>
                {{heading.faq}}
              </p>
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

            <div class="faq-container">
              {% for i in faq %}
              <div class="faq-item ">
                <h3><span class="num">{{forloop.counter}}.</span> <span>{{i.question}}</span></h3>
                <div class="faq-content">
                  <p>{{i.answer}}</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->
              {% endfor %}
            </div>

          </div>
        </div>

      </div>

    </section><!-- /Faq Section -->
    {% endif %}
    <!-- Team Section -->
    {% if teams %}
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>{{heading.team}}</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-5">
          {% for i in teams %}
          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src='{{i.image.url}}' class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>{{i.name}}</h4>
              <span>{{i.designation}}</span>
              <p>{{i.detail}}</p>
            </div>
          </div><!-- End Team Member -->
          {% endfor %}
        </div>

      </div>

    </section><!-- /Team Section -->
    {% endif %}
    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section">

      <img src='{% static "img/cta-bg.jpg" %}' alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Call To Action</h3>
              <p>{{heading.call_to_action}}</p>
              <a class="cta-btn" href="#">Call To Action</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

    <!-- Testimonials Section -->
    {% if testimonial %}
    <section id="testimonials" class="testimonials section">

      <div class="container">

        <div class="row align-items-center">

          <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
            <h3>Testimonials</h3>
            <p>
              {{heading.testimonials}}
            </p>
          </div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">

            <div class="swiper">
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>
              <div class="swiper-wrapper">
                {% for i in testimonial %}
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src={{i.testimonial_.url}} class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>{{i.name}}</h3>
                        <h4>{{i.designation}}</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>{{i.description}}</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->
                {% endfor %}
              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

        </div>

      </div>

    </section><!-- /Testimonials Section -->
    {% endif %}
    <!-- Recent Posts Section -->
    {% if blog %}
    <section id="recent-posts" class="recent-posts section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Recent Posts</h2>
        <p>{{heading.recent_posts}}</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          {% for i in blog %}
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <article>

              <div class="post-img">
                <img src='{{i.blog_image.url}}' alt="" class="img-fluid">
              </div>

              <p class="post-category">{{i.blog_type}}</p>

              <h2 class="title">
                <a href="{% url 'blog_detail' i.slug %}">{{i.blog_title}}</a>
              </h2>

              <div class="d-flex align-items-center">
                {% comment %} <img src='{% static "img/blog/blog-author.jpg" %}' alt="" class="img-fluid post-author-img flex-shrink-0"> {% endcomment %}
                <div class="post-meta">
                  {% comment %} <p class="post-author">Maria Doe</p> {% endcomment %}
                  <p class="post-date">
                    <time datetime="2022-01-01">{{i.created_at}}</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          {% endfor %}
        </div><!-- End recent posts list -->

      </div>

    </section><!-- /Recent Posts Section -->
    {% endif %}
    <!-- Contact Section -->
    {% if costomer_service %}
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>{{heading.contact}}</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>{{costomer_service.address}}</p>
                  {% comment %} <p>New York, NY 535022</p> {% endcomment %}
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>{{costomer_service.tollfree1}}</p>
                  <p>{{costomer_service.tollfree2}}</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>{{costomer_service.email}}</p>
                  {% comment %} <p>contact@example.com</p> {% endcomment %}
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="500">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>{{costomer_service.servicehours}}</p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

          <div class="col-lg-6">
            <form action="{% url 'contact_us' %}" method="POST" class="email-form" data-aos="fade-up" data-aos-delay="200">
              {% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" >
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->
    {% endif %}
  </main>


  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  {% comment %} <div id="preloader"></div> {% endcomment %}

</body>
 {% include 'web/base/footer.html' %}
{% endblock content %}
</html>